{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
</head>
<body>
{% if allStudents %}
  <form method="post">

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 -->
   {% block content %}
    <div class="container">
        {% csrf_token %}
        {{form.as_table}}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">MiddletName</th>
            <th scope="col">Gender</th>
            <th scope="col">Pincode</th>
            <th scope="col">MobileNumber</th>
            <th scope="col">ParentName</th>
            <th scope="col">Occupation</th><th></th>
            <th scope="col">Class</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for record in allStudents %}
        <tbody>
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.FirstName}}</td>
                <td>{{record.MiddletName}}</td>
                <td>{{record.LastName}}</td>
                <td>{{record.Gender}}</td>
                <td>{{record.Pincode}}</td>
                <td>{{record.MobileNumber}}</td>
                <td>{{record.ParentName}}</td>
                <td>{{record.Occupation}}</td>
                <td>{{record.Class}}</td>
                <td><a href="/studUpdate/{{record.id}}">Update</a>&nbsp;&nbsp;&nbsp;<a href="/deleteStudent/{{record.id}}">Delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    </div>

    {% endblock %}
   <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 -->

  </form>
{% endif %}
</body>
</html>