{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
</head>
<body>
{% if studentData %}

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    {% block content %}

    <div class="container">
        {% csrf_token %}
        {{form.as_table}}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Assignment</th>
            <th scope="col">Obtained Marks</th>
        </tr>
        </thead>
        {% for studRecord in studentData %}
        {% for assignmentRecord in assignments %}
        {% for marksRecord in marks %}
        {% for marks in marksDetails %}
        <tbody>
            <tr>
                {% if studRecord.Class_id == assignmentRecord.Class_id and studRecord.id == marksRecord.Student_id %}
                <td>{{studRecord.FirstName}}  {{studRecord.MiddletName}}  {{studRecord.LastName}}</td>
                <td>{{classes.Class}}</td>
                <td>{{assignmentRecord.AssignmentName}}</td>
                {% if marks.ID == marksRecord.Marks_id %}
                <td>{{marks.Marks}}</td>
                {% endif %}
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </table>
    </div>

    {% endblock %}

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

{% endif %}

</body>
</html>